@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
	font-family: 'Quicksand', serif;
}

* {
	margin: 0;
	padding: 0;
}

  .container {
    border-radius: 10px;
    padding: 50px;
    margin: 20px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* changed from center */
    border: 1px  black;
    border-radius: 10px;
  }

  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 10px; /* added */
  }
  

  .text-area {
    width: 100%;
    padding: 10px;
    font-size: 100;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 1px 1px 5px #2699bd;
  }

  .text-area:focus
  {
    border: none;
    box-shadow: 2px 2px 10px #2699bd;
  }
  
  .submit-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .btn-primary
{
	background-color: #2699bd;
	border: none;
}

.btn-primary:hover
{
	background-color: #fff;
	color:#2699bd;
	border:1px solid #2699bd;
}


        /* Style for navigation bar */
        .navbar {
          background-color: #2699bd !important;
      }

      /* Style for navigation links */
      .navbar a {
          color: #fff;
          text-decoration: none;
          transition: color 0.2s;
      }

      /* Change color on hover */
      .navbar a:hover {
          color: #f7f7f7;
      }

      /* Active Link */
      .active {
          color: #f7f7f7;
          font-weight: bold;
      }

      /* Customize the brand/logo */
      .navbar-brand {
          font-weight: bold;
          font-size: 1.5rem;
          color: #f7f7f7;
          margin-right: 50px;
      }

      /* Customize the logout link */
      .navbar .logout {
          color: #fff;
          margin-left: auto;
          transition: color 0.2s;
      }

      /* Change color on hover */
      .navbar .logout:hover {
          color: #f7f7f7;
      }

      /* Adjust margin on smaller screens */
      @media (max-width: 576px) {
          .navbar-brand {
              margin-right: 0;
          }

          .navbar .logout {
              margin-left: 0;
          }
      }
      .form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input-search{

  height: 55px;
  text-indent: 33px;
border-width: 0px 0px 2px 0px;
border-color: #2699bd;
font-size:larger;
}

.form-input-search:focus{

border-color: #2699bd;
  box-shadow: none;
}

.form-input{

border: none;
  box-shadow: 1px 1px 5px #2699bd;
}

.form-input:focus{
border: none;
  box-shadow: 2px 2px 10px #2699bd;
}

.search-bar {
margin:0;
padding:0;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
top:50%;
left:50%;
position: absolute;
transform: translate(-50%,-50%);
border: 5px black solid;
transition-duration: 0.2s;
}

.textbox {
width: 0px;
padding: 0;
margin: 0;
border: none;
line-height: 40px;
font-size: 25px;
height:45px;
background-color: transparent;
outline: none;
height: 100%;
float: left;

transition-duration: 0.05s;
}

.search-btn {
background-color: transparent;
padding: 0px 0px 0px 0px;
margin: 0;
height: 45px;
width: 45px;
display: flex;
justify-content: center;
align-items: center;
float: right;
text-decoration: none;
/* border-left: 5px black solid; */
height: 100%;
transition-duration: 0.2s;
}

.search-btn p {
margin: 10px;
color: black;
font-size: 20px;
font-family: sans-serif;
font-weight: 800;
}

.search-bar:hover > .textbox {
padding: 0px 10px 0px 10px;
width: 100%;
transition-duration: 0.2s;
}

.search-bar:hover > .search-btn {
border-left: 5px black solid;
transition-duration: 0.2s;
}

.search-btn:hover {
background-color: black;
transition-duration: 0.2s;
}
.search-btn:hover > p {
color: white;
transition-duration: 0.2s;
}

.row
{
margin-top: -10px;
}

.task {
display: flex;
align-items: center;
margin-bottom: 10px;
background-color: #2699bd;
height: 60px;
border-radius: 10px;
padding: 0 10px;
width: 100%;
}

.task-title {
flex: 1;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #f7f5f8;
text-align: left;
}

.task-icons {
display: flex;
align-items: center;
justify-content: flex-end;
width: 30%;
}

.task-icons i {
margin-right: 10px;
color: rgb(255, 255, 255);
cursor: pointer;
}

.task-icons i:hover {
color: rgb(0, 0, 0);
}

.task-icons i.fa-trash-alt {
color: rgb(255, 255, 255);
}

.task-icons i.fa-archive {
color: rgb(255, 255, 255);
}

.task-icons i.fa-edit {
color: rgb(255, 255, 255);
}



.col-1:hover
{
transform: scale(1.1);
}

.btn-primary
{
background-color: #2699bd;
border: none;
}

.btn-primary:hover
{
background-color: #fff;
color:#2699bd;
border:1px solid #2699bd;
}

.form-control[type=date]
{
color:#00000077;
border-width: 1px 1px 2px 1px;
border-color: #2699bd;
}

.form-control[type=select]:focus
{
outline-color: #2699bd;
}

h1
{
color:#2699bd;
}

.select-btn{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 1px 5px #2699bd;
}
.select-btn .btn-text{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn{
  display: flex;
  height: 25px;
  width: 25px;
  color: #2699bd;
  font-size: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn{
  transform: rotate(-180deg);
}
.list-items{
  position: relative;
  margin-top: 15px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #2699bd;
  display: none;
}
.select-btn.open ~ .list-items{
  display: block;
}
.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover{
  background-color: #e7edfe;
}
.item .item-text{
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
  background-color: #2699bd;
  border-color: #2699bd;
}
.checkbox .check-icon{
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.form
{
  border-color:#2699bd;
}

img
{
  height:30px;
  width:auto;
  border-radius:15px;
}