<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Faculty Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css'>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('faculty')}}">Faculty Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" style="margin-right: 60px;">
                        <a class="nav-link active" href="{{url_for('faculty')}}"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <!-- <li class="nav-item" style="margin-right: 60px;">
                        <a class="nav-link" href="{{url_for('FACULTY_notifications')}}"><i class="fa-regular fa-bell"></i> Notifications</a>
                    </li> -->
                    <li class="nav-item" style="margin-right: 60px;">
                        <a class="nav-link" href="{{url_for('view_details')}}"><img src="{{data['picture']}}" alt="User Profile Picture"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-11"></div>
        <div class="col-1">
            <div class="task-icons">
                <a class="nav-link" href="{{url_for('logout')}}" style="color: #2699bd; text-decoration: none;"><i class="fa-solid fa-sign-out-alt fa-2x" style="color: #2699bd;"></i> Logout</a>
            </div>
        </div>
    </div>
    <br>
    <img class="profile" src="{{data['picture']}}" alt="User Profile Picture" align="middle">
    <br>
    <h1 align="center"><b>{{data["name"]}}</b></h1>
    <br>
    <table style="margin-left: 37%; margin-right: 15%; width:50%;">
        <tr>
            <td>
                <p><strong>Email :</strong></p>
            </td>
            <td>
                <p>{{data["email"]}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Phone :</strong></p>
            </td>
            <td>
                <p>{{data["phone"]}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Date of Birth :</strong></p>
            </td>
            <td>
                <p>{{data["dob"]}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Date of Joining :</strong></p>
            </td>
            <td>
                <p>{{data["join_date"]}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Gender :</strong></p>
            </td>
            <td>
                <p>{{data["gender"]}}</p>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
                <div class="task-icons">
                    <i class="fa-solid fa-pen" style="color: #2699bd;" onclick="edit_details()" title="edit details"></i>
                </div>
            </td>
        </tr>
    </table>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        integrity="sha512-lPYomSwW43+o/nPnBnEHzfAN1J5Y5X5z5Z0xiFvlkz5NtOjK0w/VyH+0PT/IGzyOz4hXkJ33ZjzOeR0igHKHLw=="
        crossorigin="anonymous"></script>
    <!-- JavaScript to add active class on click -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function edit_details()
        {
            window.location.href="{{url_for('edit_details')}}";
        }
    </script>
</body>

</html>